body{
   background-size: cover;
}
.heading{
    width: 100%;
    margin: 0;
    font-size: 20px;
}
.note{
    font-size: 15px;
    color: black;
}
canvas
{
    background-color: bisque;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #b9b60a;
}
